@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --income-color: rgb(98, 215, 87); /*GREEN*/
  --expense-color: rgb(255, 57, 57); /*RED*/
  --text-color: rgb(0, 0, 0); /*BLACK*/
  --shadow-color: rgb(105, 105, 105); /*DARK GRAY*/
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

main {
  padding: 0 3%;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* ///////////////// */
/* Video Background */
/* /////////////// */
.main__bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(60%);
}

/* /////////// */
/* Background */
/* ///////// */
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.title {
  text-align: center;
  margin-top: auto;
  color: rgb(255, 255, 255); /*WHITE*/
}

/* ///////////////////// */
/* Add transaction form */
/* /////////////////// */
.transaction-form {
  background-color: rgb(255, 255, 255); /*WHITE*/
  border-radius: 1rem 1rem 0 0;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  color: var(--text-color); /*BLACK*/
  margin-top: auto;
  width: 100%;
  min-width: 18.75rem;
  max-width: 40rem;
}

.transactions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 0.75rem;
  padding: 0 1rem;
}

.transactions__type {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 2rem;
  gap: 2%;
  font-size: 1rem;
}

.income {
  accent-color: var(--income-color); /*GREEN*/
  /* font-size: 24px; lighthouse */
  /* width: 24px;
  height: 24px; */
}

.expense {
  accent-color: var(--expense-color); /*RED*/
  /* font-size: 24px; lighthouse */
  /* width: 24px;
  height: 24px; */
}

.transactions__amount {
  width: 4.5rem;
  background: transparent;
  height: 2rem;
  border: 1px solid var(--text-color); /*BLACK*/
  border-radius: 0.5rem;
  color: var(--text-color); /*BLACK*/
  padding-left: 0.25rem;
}

.transactions__amount:focus {
  box-shadow: 0.2rem 0.2rem 0.25rem var(--shadow-color);
  /*DARK GRAY*/
}
.transactions__amount::-webkit-inner-spin-button {
  opacity: 0.5;
  height: 30px;
}

.transactions__title {
  width: 6.5rem;
  height: 2rem;
  background: transparent;
  border: 1px solid var(--text-color); /*BLACK*/
  border-radius: 0.5rem;
}

.transactions__title:focus {
  box-shadow: 0.2rem 0.2rem 0.25rem var(--shadow-color); /*DARK GRAY*/
}

.transactions__title::placeholder {
  color: var(--text-color); /*BLACK*/
  padding-left: 5px;
}

.transactions__date {
  width: 1.25rem;
  height: 2rem;
  background: transparent;
  border: 1px solid var(--text-color); /*BLACK*/
  border-radius: 0.5rem;
  color: var(--text-color); /*BLACK*/
}

.add-transaction {
  height: 2rem;
  width: 3rem;
  background: transparent;
  border: 1px solid var(--text-color); /*BLACK*/
  border-radius: 0.5rem;
  color: var(--text-color); /*BLACK*/
}

.add-transaction:hover {
  box-shadow: 0.2rem 0.2rem 0.25rem var(--shadow-color); /*DARK GRAY*/
  background-color: var(--text-color); /*black*/
  color: rgb(255, 255, 255); /*WHITE*/
}

.add-transaction:active {
  background-color: rgb(0, 132, 255); /*BLUE*/
}

/* ///////////////// */
/* Transaction List */
/* /////////////// */
.list {
  width: 100%;
  min-width: 18.75rem;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  height: 18.75rem;
  background-color: rgb(255, 255, 255); /*WHITE*/
  overflow-y: auto;
  border-radius: 0 0 1rem 1rem;
  margin-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.list:last-child {
  margin-bottom: 0.5rem;
}

/* //////////// */
/* Transaction */
/* ////////// */
.list-element {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  gap: 5%;
  width: 90%;
  min-height: 6rem;
  border-radius: 1rem;
  color: var(--text-color); /*BLACK*/
}

.list-element p:first-child {
  padding-left: 0.75rem;
}

.income {
  background-color: var(--income-color); /*GREEN*/
}

.expense {
  background-color: var(--expense-color); /*RED*/
}

.edit-delete {
  margin-left: auto;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.edit {
  border: none;
  background: transparent;
}

.delete {
  border: none;
  background: transparent;
}

.edit:hover {
  opacity: 0.5;
}

.delete:hover {
  opacity: 0.5;
}

.edit::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f304";
}

.delete::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f1f8";
}

/* ///////////////// */
/* Transaction info */
/* /////////////// */
.transaction-info {
  background-color: rgb(255, 255, 255); /*WHITE*/
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  min-width: 18.75rem;
  max-width: 40rem;
  align-items: center;
  margin-bottom: 0.5rem;
}

.chart {
  background-color: rgb(255, 255, 255); /*WHIITE*/
  border: 1px solid var(--text-color); /*BLACK*/
  border-radius: 1rem;
  width: 3rem;
  margin: 0.2rem 0;
}

.chart:hover {
  box-shadow: 0.2rem 0.2rem 0.25rem var(--shadow-color); /*DARK GRAY*/
  background-color: var(--text-color); /*black*/
  color: rgb(255, 255, 255); /*WHITE*/
}

.chart::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f201";
}

.sort-transactions {
  background-color: rgb(255, 255, 255); /*WHITE*/
  border: 1px solid var(--text-color); /*BLACK*/
  border-radius: 1rem;
  width: 9rem;
  margin: 0.2rem 0;
}

.clear-transactions {
  background-color: rgb(255, 255, 255); /*WHITE*/
  border: 1px solid var(--text-color); /*BLACK*/
  border-radius: 1rem;
  width: 3rem;
  margin: 0.2rem 0;
}

.clear-transactions:hover {
  box-shadow: 0.2rem 0.2rem 0.25rem var(--shadow-color); /*DARK GRAY*/
  background-color: var(--text-color); /*black*/
  color: rgb(255, 255, 255); /*WHITE*/
}

.clear-transactions::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f51a";
}

.transaction-canculations {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 0.5rem;
  gap: 5%;
}

/*/////////////////*/
/*Edit Transaction*/
/*///////////////*/
.edit-form {
  min-height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: rgb(94, 174, 249); /*LIGHT BLUE*/
  width: 90%;
  border-radius: 1rem;
  padding: 0.5rem 0;
  margin-top: 0.5rem;
}

.edit-transactions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 0.7rem;
}

.save-edit {
  height: 2rem;
  width: 3rem;
  background: transparent;
  border: 1px solid var(--text-color); /*BLACK*/
  border-radius: 0.5rem;
  color: var(--text-color); /*BLACK*/
}

.cancel-edit {
  height: 2rem;
  width: 3rem;
  background: transparent;
  border: 1px solid var(--text-color); /*BLACK*/
  border-radius: 0.5rem;
  color: var(--text-color); /*BLACK*/
}

/* //////////////////////// */
/* Tablet and Desktop view */
/* ////////////////////// */
@media (min-width: 768px) {
  .transactions__date {
    width: auto;
  }
}
